<div class="container" ng-controller="JokeCtrl">
  <div class="row" ng-if = "joke">
    <div class="col-md-6 col-md-offset-3">
      <div class="joke-wrapper">
        <div class="joke-content">
          {{joke.content}}
        </div>

        <div class="joke-opinion">
          <div class="col-md-2">
            <a href="" class="like" ng-click='like(joke)'>
              <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            </a>
          </div>

          <div class="col-md-2">
            <a href="" class="dislike" ng-click='dislike(joke)'>
              <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-if="!joke">
    <div class="col-md-6 col-md-offset-3">
      That's all the jokes for today! Come back another day!
    </div>
  </div>
</div>
